@page "/counter"
@inherits CatMode
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<div class="row">
    <div class="col alert alert-secondary text-center">

        <h1>Cat rating</h1>

    </div>
</div>

<div class="text-center">
    <img src="https://sun1-18.userapi.com/impg/kTCATnlPSe1MnI7fe13u6BX1YNnuxsLiskvhDw/WpP8bo5EZRE.jpg?size=1145x1145&quality=96&sign=ca92bc7aa3d6758ad84a5191cc9b8816&type=album" width="500" />
    <div class="row">

        <div class="col 6 ">
            <button class="btn btn-primary " @onclick="Rait5">5</button>
            <button class="btn btn-primary " @onclick="Rait4">4</button>
            <button class="btn btn-primary " @onclick="Rait3">3</button>
            <button class="btn btn-primary " @onclick="Rait2">2</button>
            <button class="btn btn-primary " @onclick="Rait1">1</button>
            <span style="font-size: 30px">@sums.ToString("0.00")</span>
        </div>
    </div>
</div>



@code {

    double sums = 0;
    public int count = 0;

    public List<double> nums = new List<double>();
   

    public void Rait5()
    {
        nums.Add(5.0);
        count++;
        double sum = nums.Sum();
        sums = sum / count;
    }
    public void Rait4()
    {
        nums.Add(4.0);
        count++;
        double sum = nums.Sum();
        sums = sum / count;
    }
    public void Rait3()
    {
        nums.Add(3.0);
        count++;
        double sum = nums.Sum();
        sums = sum / count;

    }
    public void Rait2()
    {
        nums.Add(2.0);
        count++;
        double sum = nums.Sum();
        sums = sum / count;
    }
    public void Rait1()
    {
        nums.Add(1.0);
        count++;
        double sum = nums.Sum();
        sums = sum / count;
    }
    }






